<div class='col-12 bg-light my-3 rounded'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if comments}}
    <h4>Here's the comments:</h4>
    {{#each comments as |comment|}}
      <p>
        {{comment.comment_desc}}
        {{format_date date_created}}
        {{log comment}}</p>
    {{/each}}
  {{/if}}
  <p>
    <a href='/'><button class='btn btn-primary'>Home</button></a>
  </p>
</div>
{{#if logged_in}}
  <div class='comment-blog-container col-12 bg-light my-3 rounded'>
    <h2>
      Comment on this Blog
    </h2>
    <form class='comment-blog-form'>
      <label for='comment'>
        Comment:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='5' class='col-12'></textarea>
      <br />
      <button
        class='btn btn-primary mt-1'
        type='submit'
        id='submitButton'
        value='Submit'
        data-id='{{id}}'
      >
        Submit
      </button>
    </form>
  </div>
{{/if}}
<script src='/js/comment.js'></script>