<div class='col-13 bg-light rounded'>
  <h1 class='welcome'>Welcome, {{name}}!</h1>
</div>

{{! <div class='row mt-4'> }}
<div class='col-md-6 mt-4 bg-light'>
  <h3>Create a New Blog Post:</h3>

  <form class='form new-blog-form'>
    <div class='form-group'>
      <label for='blog-name'>Blog Title:</label>
      <input class='form-input' type='text' id='blog-name' name='blog-name' />
    </div>
    <div class='form-group'>
      <label for='blog-desc'>description:</label>
      <textarea class='form-input' id='blog-desc' name='blog-desc'></textarea>
    </div>
    <div class='form-group'>
      <button type='submit' class='btn btn-primary'>Create</button>
    </div>
  </form>
</div>

{{#if blogs.length}}
  <div class='col-md-6 mt-4 blog-list bg-light'>
    <h3>Current blogs:</h3>
    {{#each blogs as |blog|}}
      <div class='row mb-2'>
        <div class='col-md-8'>
          <h4><a
              href='/blogs/{{blog.id}}'
              class='text-dark'
            >{{blog.name}}</a></h4>
        </div>
        <div class='col-md-4'>
          <button
            class='btn btn-sm btn-danger delete'
            data-id='{{blog.id}}'
          >DELETE</button>
          <button
            class='btn btn-sm btn-green edit'
            data-id='{{blog.id}}'
          >EDIT</button>
        </div>
      </div>
      {{! edit form goes here }}
      <div
        class='col-md-6 mt-4 bg-light edit-div'
        style='display: none;'
        data-id='{{blog.id}}'
      >
        <h3>Edit Your Blog Post:</h3>

        <form class='form edit-blog-form'>
          <div class='form-group'>
            <label for='edit-blog-name'>Blog Title:</label>
            <input
              class='form-input'
              id='edit-blog-name'
              type='text'
              name='blog-name'
              value='{{blog.name}}'
            />
          </div>
          <div class='form-group'>
            <label for='edit-blog-desc'>description:</label>
            <textarea
              class='form-input'
              id='edit-blog-desc'
              name='edit-blog-desc'
              placeholder='{{blog.description}}'
            ></textarea>
          </div>
          <div class='form-group'>
            <button
              class='btn btn-primary update'
              data-id='{{blog.id}}'
              {{! type='submit' }}
            >Update!</button>
          </div>
        </form>
      </div>
    {{/each}}
  </div>
{{/if}}

<script src='./js/profile.js'></script>